html, body {
    height: 100%;
}

body {
    margin: 0;
}

body {
    background-color: ivory;
}

.avatarpic {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    align-self: center;
}

.avatar {
    height: 30%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: 2vw;
}

.buttonWrap {
    height: 15%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 2vw;

}

.buttonBlack {
    background-color: #555555;
}

.buttonRed {
    background-color: #f44336;
}

/* modal stuff */
$blue-3: hsl(211, 57%, 25%);
$blue-4: hsl(211, 39%, 44%);
$blue-5: hsl(211, 51%, 65%);
$blue-7: hsl(211, 90%, 93%);
$blue-rich: hsl(211, 65%, 48%);

dialog {
    padding: 0;
    border: 0;
    border-radius: 0.6rem;
    box-shadow: 0 0 1em black;
}

/* native backdrop */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

/* polyfill backdrop */
dialog+.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

dialog[open] {
    animation: slide-up 0.4s ease-out;
}

/* The following styles are for older browsers when using
   the polyfill. These aren’t necessary for Chrome/Firefox. */
dialog {
    display: none;
    position: absolute;
    margin: 0 auto;
    /* should center it, but not working in Safari */
    max-width: 80vw;
    background-color: white;
}

dialog[open] {
    display: block;
}


/* prettying things up a bit */
.close {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    padding: 0.3em;
    line-height: 0.6;
    background-color: transparent;
    border: 0;
    font-size: 2em;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 1em;
}

.modal-header {
    margin: 0;
    padding-bottom: 0.6em;
    background-color: $blue-7;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom: 1px solid $blue-5;
}

.modal-footer {
    border-top: 1px solid $blue-5;
}

/* misc page styles -- not important for demo */
body {
    margin: 1em;
}

:first-child {
    margin-top: 0;
}

:last-child {
    margin-bottom: 0;
}

button {
    padding: 0.4em 1em 0.2em;
    font-family: Glober, Helvetica, sans-serif;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate(0, 15px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}